@media only screen and (min-width: 768px) {

  main {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 250px 250px 250px 250px;
    grid-gap: 10px;
    padding-top: 5px;
    background-color: #ffffff;
    padding: 10px;
  }




  #hero {
    grid-column: 1/9;
    grid-row: 1;
    margin: 0px;
  }

  #event {
    grid-column: 1/6;
    grid-row: 4;
    margin-right: 0px;
  }

  #weather {
    grid-column: 6/9;
    grid-row: 4;
  }

  #release {
    grid-column: 1/9;
    grid-row: 2;
    margin: 0px;
  }

  #join {
    grid-column: 1/9;
    grid-row: 4;
    margin-right: 0px;
  }

  #spotlight {
    grid-column: 1/9;
    grid-row: 3;
    display: flex;
    grid-template-columns: 1fr;
    margin-left: 0px;
    grid-gap: 0px;
  }

  .spotlight1 {
    display: flex;
    margin: 12px;
    justify-content: stretch;
  }

  .spot1,
  .spot2 {

    background-color: #8be280;
    border: 1px solid #4c87df;
    font-family: Montserrat,
      sans-serif;
  }

  .spot3 {
    display: none;
  }

  #hero,
  #event,
  #weather,
  #release,
  #join,
  #spotlight {
    background-color: #d6fcd2;
    border: 1px solid #4c87df;
    font-family: Montserrat,
      sans-serif;
  }
}