@media only screen and (min-width: 300px) {

  /* header  */

  header {
    background-color: #1563d8;
  }


  /* --- menu navigation --- */


  nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: black;
  }



  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #ffffff;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
  }

  nav ul li a:hover {
    background-color: rgba(55, 131, 230, 0.808);
  }

  nav ul li.discover a {
    background-color: rgba(95, 140, 224, 0.1);
    color: rgb(88, 115, 236);
  }

  /* --- end of menu navigation --- */


  /* --- main started ---*/
  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 10px;
    padding-top: 5px;
    background-color: #ffffff;
    padding: 10px;
  }


  #hero {
    grid-column: 1;
    grid-row: 1;
    margin: 0px;
  }

  #event {
    grid-column: 1;
    grid-row: 2;
    margin-right: 0px;
  }

  #weather {
    grid-column: 1;
    grid-row: 3;
  }

  #release {
    grid-column: 1;
    grid-row: 4;
    margin: 0px;
  }

  #join {
    display: none;
  }

  #spotlight {
    grid-column: 1;
    grid-row: 5/7;
    display: flex;
    grid-template-columns: 1fr;
    margin-left: 0px;
    grid-gap: 0px;
    justify-items: center;
  }



  #hero,
  #event,
  #weather,
  #release,
  #join,
  #spotlight {
    background-color: #f7a309;
    border: 1px solid #4c87df;
    font-family: Montserrat,
      sans-serif;
  }

  .spot1,
  .spot2 {
    height: 145px;
    width: 245px;
    background-color: #f7a309;
    border: 1px solid #4c87df;
    font-family: Montserrat,
      sans-serif;
  }

  .spot3 {
    display: none;
  }
}

/* --- main ended ---*/