body {
  background-color: #F6F6F4;
  margin: 0 auto;
}

#content {
  margin: 0 auto;
  background-color: #ffffff;
  text-align: justify;
}

/*---'header' container----*/

header {
  background-color: #2972df;
}

.header-section {
  display: flex;
  align-items: center;
  padding: 3px 0;
}

.logo {
  margin-left: 30px;
}

.title {
  margin-left: 50px;
  color: #ececec;
  font-size: 1.7em;
}

.novo-title,
.chamber-title {
  margin: 20px 0;
}

nav {
  background-color: #065e91;
}



.menu {
  display: flex;
  list-style: none;
  justify-content: center;
  margin: 0px;

}

li {
  display: list-item;
  text-align: -werkit-match-parent;
}

a {
  text-decoration: none;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.button {
  padding: 10px 15px;
  text-align: center;
  display: inline-block;
}

.button:hover {
  background: #4c87df;
}


.discover,
.directory,
.join,
.contact {
  color: rgb(255, 255, 255);
  margin-left: 50px;
  margin-right: 50px;
}

/* ---- end of header ----*/


/* ----- start of main container ---- */

main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
  padding-top: 10px;
  background-color: #ffffff;
  margin: 0;
  padding: 10px;
}

#hero {
  grid-column: 2/4;
  grid-row: 1/3;
  margin: 0px;
}

#event {
  grid-column: 1;
  grid-row: 1;
  margin-right: 0px;
}

#weather {
  grid-column: 1;
  grid-row: 2;
  margin-left: 20px;
  margin-right: 0px;
}

#release {
  grid-column: 2/4;
  grid-row: 3;
  margin: 0px;
}

#join {
  grid-column: 1;
  grid-row: 3;
  margin-right: 0px;
}

#spotlight {
  grid-column: 4;
  grid-row: 1/4;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(100px, auto);
  padding: 30px;
  margin-left: 0px;
  grid-gap: 0px;
}

#hero,
#event,
#weather,
#release,
#join,
#spotlight {
  padding: 80px;
  background-color: #ffffff;
  border: 1px solid #4c87df;
  margin-left: 20px;
  margin-right: 20px;
  font-family: Montserrat,
    sans-serif;
}




/* ----- end of main container ---- */

.social {
  margin-left: 23px;
}

.date {
  background-color: #4c87df;
  height: 20px;
  padding: 10px;
  text-align: center;
  color: antiquewhite;
  font-family: Montserrat, sans-serif;

  padding: 0.5rem;

}





footer {
  display: grid;
  background-color: #2972df;
}