body {
  background-color: #F6F6F4;
  margin: 0 auto;
}

#content {
  margin: 0 auto;
  background-color: #ffffff;
  text-align: justify;
}

/*---'header' container----*/


.header-section {
  display: flex;
  background-color: #2972df;
  align-items: center;
  padding: 3px 0;
}

.logo {
  margin-left: 30px;
}

.title {
  margin-left: 50px;
  color: #ececec;
  font-size: 1.7em;
}

.novo-title,
.chamber-title {
  padding: 10px;
  margin: 20px 0;
}

nav {
  background-color: #065e91;
}



.menu {
  display: flex;
  list-style: none;
  justify-content: center;
  margin: 0px;

}

li {
  display: list-item;
  text-align: -werkit-match-parent;
}

a {
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

nav>button {}

.button {
  padding: 15px 25px;
  text-align: center;
  display: inline-block;
}

.button:hover {
  background: #4c87df;
}

.discover,
.directory,
.join,
.contact {
  color: rgb(255, 255, 255);
  margin-left: 50px;
  margin-right: 50px;
}

main {
  background-color: #f3ddb6;
  margin: 0;
  padding: 10px;
}




.home-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "event hero hero spotlight"
    "weather hero hero spotlight"
    "join release release spotlight";
}