@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@300&family=Pacifico&family=Roboto&display=swap');


html {
  font-family: 'IBM Plex Sans Thai Looped', sans-serif;
  font-family: 'Pacifico', cursive;
  font-family: 'Roboto', sans-serif;

}

body {
  background-color: #F6F6F4;
  margin: 0 auto;
}

#content {

  margin: 0 auto;
  background-color: #ffffff;
  text-align: justify;
}

/*---'header' container----*/
header {
  background-color: #4c87df;
  padding: 3px 0;
  display: grid;

}

.heanding {
  display: flex;
  align-items: center;
  justify-content: center;
}



img {}

.title1,
.title2 {
  display: flex;
  flex-direction: column;
  color: #ececec
}

nav {
  background-color: #7ac2ec;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
  margin: 0px;
}

li {
  display: list-item;
  text-align: -werkit-match-parent;
}

a {
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

nav>button {}

.button {
  padding: 15px 25px;
  text-align: center;
  display: inline-block;
}

.button:hover {
  background: #4c87df;
}

.home,
.audience,
.color-scheme,
.typography {
  color: rgb(255, 255, 255);
  margin-left: 50px;
  margin-right: 50px;
}

main {
  display: grid;
  margin-left: 10px;
  margin-right: 10px;
}

h1 {
  color: rgb(0, 0, 0);
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}

h3 {
  font-family: 'IBM Plex Sans Thai Looped', sans-serif;
}


footer {
  text-align: center;
  color: #ffffff;
}

.social-box {
  display: grid;
  background-color: #4c87df;
  background-position: center;
  margin: 0 auto;
  margin-top: 0px;
  margin-bottom: 0px;
  max-width: 100%;
  height: 60px;
}

.p-white,
.p-yellow {
  line-height: 50%;
}



.colors {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "one two tree";
  height: 250px;
  justify-items: center;
  text-align: justify;
}

.one {
  grid-area: one;
}

.two {
  grid-area: two;
}

.tree {
  grid-area: three;
}