@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@300&family=Pacifico&family=Roboto&display=swap');

html {
  font-family: 'IBM Plex Sans Thai Looped', sans-serif;
  font-family: 'Pacifico', cursive;
  font-family: 'Roboto', sans-serif;

}

body {
  background-color: #ffffff;
  max-width: 1080px;
  margin: 0 auto;
}

#content {
  max-width: auto;
  margin: 0 auto;
  background-color: #ffffff;
}

.menu-nav {
  height: 40px;
  background-color: rgb(37, 41, 241);
  display: grid;
}

nav ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
  margin: 0;

}

img {
  max-width: 100%;
  opacity: 0.9;
  -moz-opacity: 0.9;
  filter: alpha(opacity=50) black;
  -khtml-opacity: 0.5;
  background-color: #000;
}

.button {
  text-align: center;
  align-self: center;

}

.home,
.audience,
.color-scheme,
.tupography {
  color: azure;
}

h1 {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  font-size: 2.4rem;
  font-family: 'Roboto', sans-serif;

}

h3 {
  font-family: 'IBM Plex Sans Thai Looped', sans-serif;
}